.hexagon-wrapper {
  height: 100%;
  position: relative;
  width: 100%;

  svg, .content {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

  $default-z-index: 1;
  svg {
    z-index: $default-z-index;
  }

  .content {
    z-index: $default-z-index + 1;
  }
}