// AKA app.scss in Foundation's terminology

@import "settings";
@import "foundation";
@import "hexagon";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$button-default: $app-gray;
$button-correct: $success-color;
$button-incorrect: $alert-color;

// Mixins
@mixin full-with-gutter {
/*   @include grid-column(12); */
  @include padding(0 ($column-gutter / 2));
}

@mixin grid($spacing: $half-column-gutter, $cell-width: 50%) {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(stretch);
  @include align-content(stretch);

  margin-left: -$spacing;
  padding: $spacing $spacing 0 $spacing;

  > * {
    @include flex(0 0 $cell-width);
    padding-left: $spacing;
    margin-bottom: $spacing;
  }
}

@mixin question-transition($duration: 0.3s) {

  // @include transition(transform $duration ease-in);
  @include transform(translate3d(0, 0, 0));

  &.question-transition-enter {
    @include transition(transform $duration ease-in);
    @include transform(translate3d(100%, 0, 0));

    &.question-transition-enter-active {
      // @include transition(transform $duration ease-in);
      @include transform(translate3d(0, 0, 0));
    }
  }


  &.question-transition-leave {
    @include transition(transform $duration ease-in);
    @include transform(translate3d(0, 0, 0));

    &.question-transition-leave-active {
      // @include transition(transform $duration ease-in);
      @include transform(translate3d(-100%, 0, 0));
    }
  }
}


// @include keyframes(slide-out-left) {
//   from {
//     @include transform(translate3d(0, 0, 0));
//   }
//   to {
//     @include transform(translate3d(-100%, 0, 0));
//   }
// }

// @include keyframes(slide-in-left) {
//   from {
//     @include transform(translate3d(100%, 0, 0));
//   }
//   to {
//     @include transform(translate3d(0, 0, 0));
//   }
// }

// @mixin slide-in-animation($slide-in-class, $slide-out-class, $duration: 0.3s) {
//   @include animation-duration($duration);
//   @include animation-timing-function(ease);

//   &.#{$slide-in-class} {
//     @include animation-name("slide-in-left");
//   }
//   &.#{$slide-out-class} {
//     @include animation-name("slide-out-left");
//   }
// }

// Styles

body {
  background-image: url("../images/BG_Pattern.gif");
}

.splash {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  min-height: 100%;

  .logo-hex {
    position:relative;
    margin-bottom: 1rem;

    img {
      position:absolute;
      margin:auto;
      top:0;
      right:0;
      bottom:0;
      left:0;

      z-index:10;
      width: 20vw;
    }
  }

  .hexagon-wrapper {
    display: block;
    position: absolute;
  }

  .hexagon {
    background-color: $app-red;
  }
}

.main-content {
  min-height: 100vh;

  @include display(flex);
  @include flex-direction(column);


  .quiz-header {
    @include flex(0 1 auto);
  }

  .question-transition-container {
    @include display(flex);
    @include flex(1 0 0);

    // width: 200vw;
    position: relative;
  }

  .question-container {
    @include display(flex);
    @include flex-direction(column);

    // @include flex(0 0 1);
    width: 100vw;
    height: 100%;
    position: absolute;

    @include question-transition(0.2s);
    // @include slide-in-animation("question-transition-enter", "question-transition-leave", 20s);

    .question-text-container {
      @include flex(0 0 auto);
      @include full-with-gutter;

      background-color: $app-blue-4;

      .question-text {
        font-family: $secondary-font-family;
      }
    }

    .media-container {
      @include flex(1 0 auto);

      @include radial-gradient($app-blue-gradient-1, $app-blue-gradient-2, $fallback: $app-blue-2);
    }

    .answer-section {
      @include flex(0 0 auto);

      @include grid;

      background-color: $app-blue-1;

      .answer-container {
        background-color: $body-bg;
        background-image: none;

        // Makes 2 items stack vertically by default
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .answer-container {
          @include flex-basis(100%);
        }
      }

      .answer {
        height: 4rem;

        @include button($radius:true, $full-width:true, $bg-hover: $button-bg-hover);
        @include button-style($bg: $button-default);

        cursor: pointer;

        &.answer-default {
          color: $app-blue-1;
        }

        &.answer-correct {
          @include button-style($bg: $button-correct);
        }

        &.answer-incorrect {
          @include button-style($bg: $button-incorrect);
        }
      }
    }
  }

}
