// AKA app.scss in Foundation's terminology

@import "settings";
@import "foundation";
@import "hexagon";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$button-default: $app-gray;
$button-correct: $success-color;
$button-incorrect: $alert-color;

// Mixins
@mixin full-with-gutter {
/*   @include grid-column(12); */
  @include padding(0 ($column-gutter / 2));
}

@mixin grid($spacing: $half-column-gutter, $cell-width: 50%) {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(stretch);
  @include align-content(stretch);

  margin-left: -$spacing;
  padding: $spacing $spacing 0 $spacing;

  > * {
    @include flex(0 0 $cell-width);
    padding-left: $spacing;
    margin-bottom: $spacing;
  }
}

@mixin question-transition($duration: 0.3s) {

  // @include transition(transform $duration ease-in);
  @include transform(translate3d(0, 0, 0));

  &.question-transition-enter {
    @include transition(transform $duration ease-in);
    @include transform(translate3d(100%, 0, 0));

    &.question-transition-enter-active {
      // @include transition(transform $duration ease-in);
      @include transform(translate3d(0, 0, 0));
    }
  }


  &.question-transition-leave {
    @include transition(transform $duration ease-in);
    @include transform(translate3d(0, 0, 0));

    &.question-transition-leave-active {
      // @include transition(transform $duration ease-in);
      @include transform(translate3d(-100%, 0, 0));
    }
  }
}

// Styles

body {
  background-image: url("../images/BG_Pattern.gif");
}

.splash {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  min-height: 100%;
  height: 100vh;

  .logo-hex {
    position:relative;
    margin-bottom: 1rem;

    img {
      position:absolute;
      margin:auto;
      top:0;
      right:0;
      bottom:0;
      left:0;

      z-index:10;
      width: 20vw;
    }
  }

  .hexagon-wrapper {
    display: block;
    position: absolute;
  }

  .hexagon {
    background-color: $app-red;
  }

  .app-name {
    font-size: 1.45rem;
  }
}

.quiz-list {
  background-color: white;
  border-radius: $global-radius;
  color: $quiz-list-body-text;
  margin: .4375rem .59375rem;
  overflow: hidden;

  .quiz-num {
    float: right;
    margin-top: -$rem-base;
  }

  .quiz-body-text {
    padding: .625rem;
  }

  .quiz-name, .quiz-desc {
    font-family: $secondary-font-family;
  }

  .quiz-name {
    color: $quiz-list-blue-1;
    font-size: 1.125rem;
    font-weight: bold;
  }

  .quiz-desc {
    font-size: .75rem;
  }

  .separator {
    background-color: $app-red;
    height: .25rem;
    width: 100%
  }

  .quiz-card-footer {
    @include display(flex);
    @include flex-direction(row);

    background-color: $app-gray;
    color: $quiz-list-footer-text;
    font-family: $secondary-font-family;
    font-size: .5rem;
    font-style: bold;
    height: 3.5rem;
    text-align: center;

    > * {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
    }

    em {
      color: $quiz-list-blue-1;
      display: block;
      font-family: $body-font-family;
      font-size: 1.40625rem;
      font-style: normal;
      line-height: 1.40625rem;
    }

    .num-sections, .num-questions {
      @include flex(1 0 0);
    }

    .start-quiz-container {
      @include flex(2 0 0);

      padding: .625rem;

      .start-quiz {
        @include button($radius:true, $full-width:true, $bg-hover: $button-bg-hover);
        // @include button-size($padding:$button-tny, $full-width:true);
        @include button-style($bg: $quiz-list-start-button);

        box-shadow: 0 .09375rem 0 0 $quiz-list-start-button-shadow;
        font-family: $secondary-font-family;
        font-size: .875rem;
        padding-top: .5rem;
        padding-bottom: .625rem;
      }
    }
  }
}

.main-content {
  min-height: 100vh;

  @include display(flex);
  @include flex-direction(column);


  .quiz-header {
    @include flex(0 1 auto);
  }

  .question-transition-container {
    @include display(flex);
    @include flex(1 0 0);

    // width: 200vw;
    position: relative;
  }

  .question-container {
    @include display(flex);
    @include flex-direction(column);

    // @include flex(0 0 1);
    width: 100vw;
    height: 100%;
    position: absolute;

    @include question-transition(0.2s);
    // @include slide-in-animation("question-transition-enter", "question-transition-leave", 20s);

    .question-text-container {
      @include flex(0 0 auto);
      @include full-with-gutter;

      background-color: $app-blue-4;

      .question-text {
        font-family: $secondary-font-family;
      }
    }

    .media-container {
      @include flex(1 0 auto);

      @include radial-gradient($app-blue-gradient-1, $app-blue-gradient-2, $fallback: $app-blue-2);
    }

    .answer-section {
      @include flex(0 0 auto);

      @include grid;

      background-color: $app-blue-1;

      .answer-container {
        background-color: $body-bg;
        background-image: none;

        // Makes 2 items stack vertically by default
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .answer-container {
          @include flex-basis(100%);
        }
      }

      .answer {
        height: 4rem;

        @include button($radius:true, $full-width:true, $bg-hover: $button-bg-hover);
        @include button-style($bg: $button-default);

        cursor: pointer;

        &.answer-default {
          color: $app-blue-1;
        }

        &.answer-correct {
          @include button-style($bg: $button-correct);
        }

        &.answer-incorrect {
          @include button-style($bg: $button-incorrect);
        }
      }
    }
  }

}
