// AKA app.scss in Foundation's terminology

@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


body {
  background-image: url("../images/BG_Pattern.gif");
}

.question-container {
  @include grid-row();

  .question-text-container {
    @include grid-column(12);

    background-color: $app-blue-4;

    .question-text {
      font-family: $secondary-font-family;
    }
  }

  .media-container {
    @include grid-column(12);
    @include radial-gradient($app-blue-gradient-1, $app-blue-gradient-2, $fallback: $app-blue-2);
    height: 10rem;
  }

  .answer-section {
    @include grid-row();

    .answer-container {
      @include grid-column(6);
      background-color: $body-bg;
      background-image: none;
  /*     padding: $button-margin-bottom; */
      margin: 20px;
    }

    .answer {

      @include button($radius:true, $full-width:true);

      cursor: pointer;

      .answer-default {
      }

      .answer-correct {
        background-color: #0f0;
      }

      .answer-incorrect {
        background-color: #f00;
      }
    }
  }
}
