// AKA app.scss in Foundation's terminology

@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


// Mixins
@mixin flex-column {
  @include display(flex);
  @include flex-direction(column);
}

@mixin full-with-gutter {
/*   @include grid-column(12); */
  @include padding(0 ($column-gutter / 2));
}

@mixin grid($spacing: $half-column-gutter, $cell-width: 50%) {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(stretch);

  margin-left: -$spacing;
  padding: $spacing $spacing 0 $spacing;

  > * {
    @include flex(0 0 $cell-width);
    padding-left: $spacing;
    margin-bottom: $spacing;
  }
}


// Styles

body {
  background-image: url("../images/BG_Pattern.gif");
}

.main-content {
  min-height: 100vh;
  @include flex-column;

  .quiz-header {
    @include flex(0 1 auto);
  }

  .question-container {
    @include flex(1 0 auto);
    @include flex-column;

    .question-text-container {
      @include flex(0 0 auto);
      @include full-with-gutter;

      background-color: $app-blue-4;

      .question-text {
        font-family: $secondary-font-family;
      }
    }

    .media-container {
      @include flex(1 0 auto);

      @include radial-gradient($app-blue-gradient-1, $app-blue-gradient-2, $fallback: $app-blue-2);
    }

    .answer-section {
      @include flex(0 0 auto);

      @include grid;


      background-color: $app-blue-1;

      .answer-container {
        background-color: $body-bg;
        background-image: none;

        // Makes 2 items stack vertically by default
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .answer-container {
          @include flex-basis(100%);
        }
      }

      .answer {

        @include button($radius:true, $full-width:true);

        cursor: pointer;

        &.answer-default {
          background-color: $app-gray;
          color: $app-blue-1;
        }

        &.answer-correct {
          background-color: #0f0;
        }

        &.answer-incorrect {
          background-color: #f00;
        }
      }
    }
  }
}
